{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<h2>Les derniers posts</h2>
<div class="album py-5 bg-light">
  

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    {% for post in posts %}
        <div class="col-md-2">
          
          <div class="card shadow-sm">
           
            <img src="{{ (post.image ? vich_uploader_asset(post,'imageFile')|imagine_filter('square_thumbnail_medium') : asset('/images/posts/header.jpg')|imagine_filter('square_thumbnail_medium'))}}" class="card-img-top" alt="">
            {# <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img"  preserveAspectRatio="xMidYMid slice" focusable="false"><title>{post.titre}</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">fgfdgfgkgfdikgd</text></svg> #}

            <div class="card-body">
             <p class="card-text">{{post.titre}}</p>
              <p class="card-text">{{post.description|striptags|u.truncate(10,'....',true)|raw }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                 {% for tags in post.getTags() %}
                  <button type="button" class="btn btn-sm btn-outline-secondary">{{tags.nom}}</button>
                  {% endfor %}
                  <button type="button" class="btn btn-sm btn-outline-secondary">{{post.url}}Voir plus</button>
                </div>
                <small class="text-muted">{{post.date|date('d-m-Y')}}</small>
              </div>
            </div>
              
          </div>
       
        </div>
         {% endfor %}
         
        </div>
         <a href="" class="float-end">Voir tous les posts</a>
        </div>
<h2>PHP</h2>
        <div class="row">
 
  <section class="col-sm-10 col-md-8">
  <div class="album py-5 bg-light">
  

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    {% for post in postsphp %}
        <div class="col-md-2">
          
          <div class="card shadow-sm">
           
            <img src="{{ (post.image ? vich_uploader_asset(post,'imageFile')|imagine_filter('square_thumbnail_medium') : asset('/images/posts/header.jpg')|imagine_filter('square_thumbnail_medium'))}}" class="card-img-top" alt="">
            {# <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img"  preserveAspectRatio="xMidYMid slice" focusable="false"><title>{post.titre}</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">fgfdgfgkgfdikgd</text></svg> #}

            <div class="card-body">
             <p class="card-text">{{post.titre}}</p>
              <p class="card-text">{{post.description|striptags|u.truncate(10,'....',true)|raw }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                 {% for tags in post.getTags() %}
                  <button type="button" class="btn btn-sm btn-outline-secondary">{{tags.nom}}</button>
                  {% endfor %}
                  <button type="button" class="btn btn-sm btn-outline-secondary">{{post.url}}Voir plus</button>
                </div>
                <small class="text-muted">{{post.date|date('d-m-Y')}}</small>
              </div>
            </div>
              
          </div>
       
        </div>
         {% endfor %}
         
        </div>
         <a href="" class="float-end">Voir tous les posts</a>
        </div>
  
  </section>
  <div class="col-md-2">	
    <div class="row">
      <aside class="col-md-12">Aside 3</aside>
      <aside class="col-md-12">Aside 4</aside>
    </div>
  </div>
</div> 	
       
{% endblock %}
