
 
 <footer class="d-flex text-center link-light align-items-center py-3  ">
    <p class="col-md-8 mb-0  link-light light">	&copy;
		{{'now'|date('Y') }}
		CodeInfo</p>

    {# <ul class="list-unstyled d-flex  link-light">
        <li class="ms-3"><a><i class="bi bi-instagram  link-light"></i></a></li>
         <li class="ms-3"><a><i class="bi bi-facebook  link-light"></i></a></li>
          <li class="ms-3"><a><i class="bi bi-twitter  link-light"></i></a></li>
        
      </ul> #}

    <ul class="nav col-md-4 justify-content-end link-light">
      <li class="nav-item "><a href="{{path('home')}}" class="nav-link px-2  link-light ">Accueil</a></li>
      <li class="nav-item"><a href="{{path('contact')}}" class="nav-link px-2 link-light">Contact</a></li>
      <li class="nav-item"><a href="{{path('mentions')}}" class="nav-link px-2 link-light">Mentions légales</a></li>
      <li class="nav-item"><a href="{{path('post')}}" class="nav-link px-2 link-light">Posts</a></li>
      
    </ul>
  </footer>
