

<div class="d-flex h-100 text-center text-white cont">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
      <h3 class="float-md-start mb-0">CodeInfo</h3>
      <nav class="nav nav-masthead justify-content-left float-md-start">
        <a class="nav-link active" aria-current="page" href="{{path('home')}}">Accueil</a>
        <a class="nav-link" href="{{path('post')}}">Posts</a>
        <a class="nav-link" href="{{path('tag')}}">Tags</a>
      </nav>
       <nav class="nav nav-masthead justify-content-right float-md-end">
        
        <ul class="navbar nav ms-auto mb-2 mb-lg-0">
        <!-- Si je suis connecter je peux afficher mon profil et me deconnecter -->
        {% if app.user %}
        <li class="nav-item">
        <a class="nav-link" href="">Mon compte</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="{{path('app_logout')}}">Me déconnecter</a>
        </li>
        {% else %}
        <li class="nav-item">
        <a class="nav-link" href="{{path('app_register')}}">M'inscrire</a>
        </li>
         <li class="nav-item">
        <a class="nav-link" href="{{path('app_login')}}">Me connecter</a>
        </li>
        </ul>
        {% endif %}
      </nav>
    </div>
  </header>

  <main class="px-3">
    <h1>Code info</h1>
    <p class="lead">Vous trouverez principalement des articles sur symfony et flutter</p>
    <p class="lead">
      <a href="#" class="boutton-header">Partager un article</a>
    </p>
  </main>
  </div>
